
.navbar_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(184,195,196) ;
}
.navbar_1>div>img{
    box-shadow: 0px 25px 30px rgb(0, 0, 0, 0.5);
}
.navbar_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223,227,230);
    font-size: x-large;
    cursor: pointer;
} 
.navbar_2 :hover{
    color: red;

}
.beside_pic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: x-large;
    list-style: none;
    cursor: pointer;
} 
.beside_pic :hover{
    color: RED;
}
.navbarul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 150%;
    list-style: none;
    justify-content: space-around;
    
    
}
.search_bar{
    height: 30px;
    transition: 0.5s;
    cursor: pointer;
   
}



body{
    background-image: url(../images/FINAL\ BACKGROUND\ PHOTO.jpg); 
    background-size: cover;
}

.body_content{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    color: rgb(17, 24, 5);
    padding-top: 100px;
    font-size: 50px;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 0px;
}
.body_content2{
    display: flex;
    color: rgb(5, 7, 1);
    padding-top: 100px;
    font-size: 25px;
    font-weight: 500;
    margin-top: -75px;
    width: 900px;
    text-align: center;

}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(43,53,62);
    font-size: xx-large;
    border-radius: 60px;
    color: white;
    box-shadow: 10px 25px 30px rgb(0, 0, 0, 0.5)

}

.footer a{
    color: white;
    box-shadow: 0px 25px 30px rgb(0, 0, 10, 0.5);
}
.navbar_1>div:nth-child(1)>img{
    height: 100px;
}
.filbet{
    display: flex;
    object-fit: fill;
    margin: 100px;
    height: 457px;
    justify-content: center;
}
.filbet>div:nth-child(1){
    width: 377px;
    font-family: "Poppins", sans-serif;
    background-color: white;
    height: 350px;
    color: #777;font-size: x-large;
    box-shadow: 25px 25px 30px rgb(10, 0, 10, 0.5);
}
.filbet>div:nth-child(2){
    background-image: url(../images/black\ kids.jpg);
    height: 341px;
    background-size: cover;
    width: 375px;
    box-shadow: 25px 25px 30px rgb(10, 0, 10, 0.5);
}

