<footer>
  <div class="footer1"> <div class="footer"> <div class="courses">
    <ul>
        <li>Undergraduate courses</li>
        <li>Postgraduate taught courses</li>
        <li>Accommodation</li>
        <li>International students</li>
        <li><a href="../html/student_projects.html">Students projects</a></li>
    </ul>
</div>
<div class="info">
    <ul>
        <li>Student hub</li>
        <li>Staff hub</li>
        <li>Alumni hub</li>
        <li><a href="../html/staff_profiles.html">Meet our staff</a></li>
    </ul>
</div>
<div class="contact">
   <ul>
    <li>The University of Ghana</li>
    <li>Accra</li>
    <li>+233 263614015</li>
   </ul> 
</div></div>
    </div>
    <br>
    <p><strong>Copyright ©2023 All rights reserved</strong></p>
    
</footer>