<nav>
    <div class="navbar_1">
        <div>
            <img class="School_logo" src="../images/comScience_logo.png" alt="" >
        </div>    
        <ul class="beside_pic">
                <Li><a href="../html/Homepage.html"><strong>Home</strong></a></Li>
                <Li><a href="Aboutpage.html"><strong>About</strong></a></Li>
                <Li><a href="../html/Contact.html"><strong>Contacts</strong></a></Li>
                <Li><a href="../html/news.html"><strong>News & Events</strong></a></Li>
                
            </ul>

    </div>
    <div class="navbar_2">
        <div>
            <ul class="navbarul">
                <Li><a href="../html/Gallery.html"><strong>Gallery</strong></a></Li>
                <li><a href="../html/Courses.html"><strong>Courses</strong></a></li>
                <li><a href="../html/Addmissions.html"><strong>Addmissions</strong></a></li>
            </ul>
        </div>
        <div>
            <input class="search_bar" placeholder="search">
        </div>
    </div>
</nav>